
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
}

body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #e8e8e8;
}

#prev, #next {
  position: absolute;
  width: 30px;
  height: 30px;
  color: black;
  z-index: 10;
  font-size: larger;
  line-height: 30px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  cursor: hand;
}

#prev:hover, #next:hover {
  color: green;
}

#navigation {
  width: 800px;
  position: relative;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

#prev {
  left: 0px;
}

#next {
  right: 0px;
}

.container {
  width: 100vw;
  height: 90vh;
}

.zoomContainer {
  @extend .container;
  margin: 0;
  padding: 0;
  position: relative;
}

.zoomViewport {
  @extend .container;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.polaroid-outer {
  background-color: #ffffff;
  width: 130px;
  height: 150px;
  padding: 5px 5px 25px 5px;
}

.polaroid-inner {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.item1 {
  position: absolute;
  left: 50px;
  top: 50px;
}

.item2 {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.item3 {
  position: absolute;
  top: 0px;
  right: 100px;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.item3b {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(10deg) translate(200px, 200px);
  -moz-transform: rotate(10deg) translate(200px, 200px);
  -o-transform: rotate(10deg) translate(200px, 200px);
}

.item2b {
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.item4 {
  position: absolute;
  bottom: 320px;
  left: 150px;

}
