<div class="zoomViewport">
    <div id="container" class="zoomContainer">
        <zoom-target class="item1"></zoom-target>
        <zoom-target class="item2"></zoom-target>
        <zoom-target class="item2b"></zoom-target>
        <zoom-target class="item3">
            <zoom-target class="item3b"></zoom-target>
        </zoom-target>
        <zoom-target class="item4"></zoom-target>
    </div>
</div>
<!--<div id="navigation">-->
    <!--<div id="prev" class="zoomButton" data-type="prev" data-root=".zoomViewport">&lt;</div>-->
    <!--<div id="next" class="zoomButton" data-type="next" data-root=".zoomViewport">&gt;</div>-->
<!--</div>-->