<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <h3>Zooming inside a container</h3>
    <div class="zoomViewport">
        <div id="container" class="zoomContainer">
            <div id="item1" class="zoomTarget"></div>
            <div id="item2" class="zoomTarget"></div>
            <div id="item2b" class="zoomTarget"></div>
            <div id="item3" class="zoomTarget">
                <div id="item3b" class="zoomTarget"></div>
            </div>
            <div id="item4" class="zoomTarget"></div>
        </div>
    </div>
    <div id="navigation">
        <div id="prev" class="zoomButton" data-type="prev" data-root=".zoomViewport">&lt;</div>
        <div id="next" class="zoomButton" data-type="next" data-root=".zoomViewport">&gt;</div>
    </div>
</div>
